<div id="contentContainer">
	<h2>Slider</h2>

	<div>
		<h1>{{ 'Welcome' }} ID {{ serverId }}, you are {{ getServerStatus() }}</h1>
		<label>Server Name</label>
		<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
		<p>{{ serverName }}</p>
		<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
		<p [innerText]="allowNewServer"></p>
		<p>{{ serverCreationStatus }}</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac ipsum sapien. Curabitur odio felis, suscipit quis lobortis in, commodo vitae nisl. Aenean porta, ipsum quis placerat laoreet, dolor arcu accumsan metus, a pharetra elit quam non metus.</p>
		<p>Vivamus fringilla at orci non facilisis. Maecenas venenatis convallis vulputate. Pellentesque habitant morbi tristique senectus et netus fames ac egestas.</p>
	</div>
</div>