<div id="navContainer">
	<nav>
		<ul class="clear">
			<li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
			<li><a routerLink="/wedding" routerLinkActive="active">Wedding</a></li>
			<li><a routerLink="/photos" routerLinkActive="active">Photos</a></li>
			<li><a routerLink="/gifts" routerLinkActive="active">Gifts</a></li>
			<li><a routerLink="/rsvp" routerLinkActive="active">RSVP</a></li>
			<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
		</ul>
	</nav>
</div>
