<h1>Wedding Details</h1>
<div class="row">
  <div class="col-md-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.961064487735!2d-118.56140478393893!3d34.42774410529405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c28742d5210427%3A0xc60a520004f323db!2s27002+Edgewater+Ln%2C+Santa+Clarita%2C+CA+91355!5e0!3m2!1sen!2sus!4v1500945136202" width="100%" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
  </div>
  <div class="col-md-4">
    <h2>Location</h2>
    <h3>Bridgeport Clubhouse</h3>
    <p>27002 Edgewater Lane<br />
    Valencia, CA 91355</p>

    <h2>Date &amp; Time</h2>
    <h3 class="margin">October 28, 2017 at 4PM</h3>

    <h2>Hotel Options</h2>
    <p>
      We've found that the best deals are on <a href="https://www.hotels.com/" target="_blank">hotels.com</a> and <a href="https://www.trivago.com/" target="_blank">trivago.com</a>. Simply search "Santa Clarita" for the location.
    </p>
  </div>
</div>
