/* STYLE PLACEHOLDER AND INPUT VALUES */
input, select, textarea {
  margin: 0 0 20px;
  padding: 15px;
  width: 100%;
  border: 1px solid #d1d3d4;
  font: 16px Arial, Helvetica, sans-serif;
  color: #6d6e71;
  background-color: #ffffff;
  vertical-align: middle;
  border-radius: 0;
  outline: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

input.submit {
  padding: 10px 30px;
  background: #785157;
  width: auto;
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

input.submit:disabled {
  opacity: .5;
  cursor: not-allowed;
}

input:focus {
  border-color: #3d688c;
}

textarea:focus {
  border-color: #3d688c;
}

label {
  cursor: pointer;
}

span.error, input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  color: #CC0000;
  border: 1px solid red;
}
