<h1>Gifts</h1>
<div class="center clearfix">
  <p>Your presence is the only gift we need, but if you are so inclined, cash or donations to one of the following charities is appreciated.</p>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <a href="https://www.americanhumane.org/" target="_blank" class="center"><img src='/assets/american-humane-society-logo.png' /></a>
  </div>
  <div class="col-md-8">
    <h2><a href="https://www.americanhumane.org/" target="_blank">American Humane Society</a></h2>
    <h3>To help Henry and Richard's friends (our dogs)</h3>
    <p>American Humane is committed to ensuring the safety, welfare and well-being of animals.</p>
    <p>For more than a hundred years American Humane has been first in promoting the welfare and safety of animals and strengthening the bond between animals and people.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <a href="https://www.nrdc.org/" target="_blank" class="center"><img src='/assets/nrdc-logo.png' /></a>
  </div>
  <div class="col-md-8">
    <h2><a href="https://www.nrdc.org/" target="_blank">National Resource Defense Council</a></h2>
    <h3>To keep the environment safe for future generations</h3>
    <p>NRDC works to safeguard the earth—its people, its plants and animals, and the natural systems on which all life depends.</p>
    <p>We combine the power of more than two million members and online activists with the expertise of some 500 scientists, lawyers, and policy advocates across the globe to ensure the rights of all people to the air, the water, and the wild.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <a href="https://refugeerights.org/" target="_blank" class="center"><img src='/assets/irap-logo.png' /></a>
  </div>
  <div class="col-md-8">
    <h2><a href="https://refugeerights.org/" target="_blank">International Refugee Assistance Project</a></h2>
    <h3>To help those less fortunate than us</h3>
    <p>The International Refugee Assistance Project (IRAP) organizes law students and lawyers to develop and enforce a set of legal and human rights for refugees and displaced persons. Mobilizing direct legal aid and systemic policy advocacy, IRAP serves the world’s most persecuted individuals and empowers the next generation of human rights leaders.</p>
    <p>IRAP is on the frontlines of the fight against the discriminatory executive order signed by President Trump. By mobilizing an emergency taskforce of legal advocates and leading the fight in the courts and the press, IRAP is playing a critical role in protecting the rights of thousands of affected refugees and immigrants.</p>
  </div>
</div>
