<h1>Photos</h1>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-engagement-1.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-engagement-2.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-engagement-3.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-engagement-4.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-engagement-5.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-engagement-6.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-7.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-8.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-9.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-10.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-11.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-12.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-13.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-14.jpg' alt="Brian and Diane" />
  </div>
  <div class="col-sm-4">
    <img src='/assets/photo-engagement-15.jpg' alt="Brian and Diane" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-hawaii.jpg' alt="Brian and Diane in Hawaii" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-hanauma-bay.jpg' alt="Brian and Diane at Hanaumay Bay in Hawaii" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-japan.jpg' alt="Brian and Diane in Japan" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-camping.jpg' alt="Brian and Diane at Campland" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-japan-2.jpg' alt="Brian and Diane in Japan" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-diane-ring.jpg' alt="Diane's Engagement Ring" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-luau.jpg' alt="Brian and Diane at a luau in Hawaii" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-luau-2.jpg' alt="Brian and Diane at a luau in Hawaii" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-luau-3.jpg' alt="Brian and Diane at a luau in Hawaii" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-luau-4.jpg' alt="Brian and Diane at a luau in Hawaii" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-swap-meet.jpg' alt="Brian and Diane at a swapmeet in Hawaii" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-hawaii-swap-meet-2.jpg' alt="Brian and Diane at a swapmeet in Hawaii" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-holiday.jpg' alt="Brian and Diane celebrating a holiday with the family" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-dinner.jpg' alt="Brian and Dian at dinner" />
  </div>
</div>
