<h1>Photos</h1>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-hawaii.jpg' alt="Brian and Diane in Hawaii" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-japan.jpg' alt="Brian and Diane in Japan" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-japan-2.jpg' alt="Brian and Diane in Japan" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-diane-ring.jpg' alt="Diane's Engagement Ring" />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src='/assets/photo-diane-richard.jpg' alt="Diane with Richard" />
  </div>
  <div class="col-md-6">
    <img src='/assets/photo-diane-henry.jpg' alt="Diane with Henry" />
  </div>
</div>
